.plylist-interface{
    background-color: black !important;
}

.playlist-header{
    display: flex;
    background-color: black ;
}
.playlist-main{
    width:92%;
    height: 80vh;
    padding:20px;
    position: absolute;
    left:8%;
    background-color: black;
}
.loader_div{
    /* display: flex; */
    height: 80vh;
    width:100%;
    position: relative;
    margin: auto;
    background-color: black;
}

.playlist-img{
    width: 300px !important;
    height:300px !important;
}
.playlist-tag{
    font-size: 18px;
    transform: translateX(20px);
}
.playlist-name{
    font-size: 80px;
    font-weight: 800 !important;
    transform: translateX(20px);
}

.song-main{
    display: flex;
    height:40px;
    margin:5px;
    gap:60px;
}

.songIMG{
    width:50px !important;
    height:50px !important;
}