.home {
  position: relative;
  height: 80vh;
  background-color: black;
  overflow: auto;
}

@media screen and (max-width: 1015px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .home {
    grid-template-columns: 1fr;
  }
}

.home::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.home_middle {
  width: 75% !important;
  top: 50px;
  position: absolute;
  left: 17%;
  padding-bottom: 120px;
}

@media screen and (max-width: 1015px) {
  .home_middle {
    width: 80%;
    left: 15%;
  }
}

@media screen and (max-width: 700px) {
  .home_middle {
    width: 90%;
  }
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 128px;
  width: 100%;
  background-color: black;
}

@media screen and (max-width: 700px) {
  .player {
    height: 80px;
  }
}
