.mainhome_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white !important;
  width: 100%;
  padding: 20px 0;
}
@media (max-width: 1015px) {
  .mainhome_wrap {
    width: 81vw;
  }
}

@media (max-width: 680px) {
  .mainhome_wrap {
    width: 81vw;
    padding-left: 25px;
  }
}
@media (max-width: 475px) {
  .mainhome_wrap {
    padding-left: 80px;
    font-size: 30px !important;
  }
}
@media (max-width: 450px) {
  .mainhome_wrap {
    padding-left: 75px;
  }
}
@media (max-width: 386px) {
  .mainhome_wrap {
    padding-left: 60px;
  }
}
@media (max-width: 335px) {
  .mainhome_wrap {
    padding-left: 25px;
  }
}
@media (max-width: 482px) {
  .mainhome_heading {
    font-size: 20px !important;
  }
}

.mainhome_heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.mainhome_out {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 0.7fr));
  gap: 20px;
}
@media (max-width: 950px) {
  .mainhome_out {
    width: 100%;
  }
}

.play {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  background-color: #1c1b1c;
  padding: 5px 0px;
  width: 170px;
}
.play:hover .play_icon {
  display: inline;
  transition: all linear 3s;
}
.play_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.play img {
  margin: 10px 8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  object-fit: cover;
  align-items: center;
}
.play_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.play_name p {
  padding: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.play_name p:first-of-type {
  font-size: 16px;
}
.play_name p:last-of-type {
  font-size: 15px;
  color: #ffffff;
  font-weight: 800;
}
