.loader_image{
    position: absolute;
    top: 45%;
    left:52%;
    transform: translate(-52%,-40%);
}
.limg{
    width: 100px;
    height:80px;
}


@media only screen and (max-width: 500px) { 
    .limg{
        width: 60px;
        height:50px;
    }
}

